

$theme-hue: 295;
body{  
  --t-contrast: 0;
  --t-light: -1;
}
* {
  transition: all 250ms ease;



  @for $i from 0 through 4 {

    --c-base-#{$i}: hsl(
      calc(#{$theme-hue} - 90 * var(--t-light)), 
  100%, 
  calc((50% + 5% * var(--t-light)) - (7.5% + 2.5% * var(--t-contrast)) * #{$i - 2})
  );

  --c-fg-#{$i}: hsl(
    #{$theme-hue + 0},
    5%,
    calc(
      (60% + 20% * var(--t-light) * var(--t-contrast))
      *
      (
        (1 + var(--t-light) * 0.05) 
        +
        (var(--t-light) * #{.25 * $i})
      )
    )
  );
  --c-bg-#{$i}: hsl(
    #{$theme-hue + 0},
    5%,
    calc(
      (40% + -20% * var(--t-light) * var(--t-contrast))
      *
      (
        (1 + var(--t-light) * -0.05) 
        +
        (var(--t-light) * -#{.25 * $i})
      )
    )
  );
}
}
//////////////////////////////////////////////////////////
*,
*::before,
*::after {
  box-sizing: border-box;
}
*::selection {
  color: var(--c-base-4);
  background-color: var(--c-base-0);
}
html{
  font-family: "Rubik";
  font-size: 16px;//set rem;
}
body {
  margin: 0;
  --max-width: 900px;//mega screens vs raster images
  padding: 0 max(1rem, calc((100vw - var(--max-width)) / 2));

  overflow-x: hidden;//disable horizontal scrolling

  //BACKGROUND PATTERN https://bansal.io/pattern-css
  background-color: var(--c-bg-1);
  background-image: 
    radial-gradient(var(--c-bg-2) 1.5px, transparent 1.5px),
    radial-gradient(var(--c-bg-2) 1.5px, transparent 1.5px);
  background-size: calc(20 * 1.5px) calc(20 * 1.5px);
  background-position: 0 0, calc(10 * 1.5px) calc(10 * 1.5px);
}