/*

https://www.formdev.com/flatlaf/

*/
body {
  --contrast: 0;
  --tone: -1;
}

*,
*::before,
*::after {
  transition: all 250ms ease;
  --c-base-0: hsl(
      calc(295 - 90 * var(--tone)),
  100%,
  calc((50% + 5% * var(--tone)) - (7.5% + 2.5% * var(--contrast)) * -2)
  );
  --foreground-0: hsl(
    295,
    5%,
    calc(
      (60% + 20% * var(--tone) * var(--contrast))
      *
      (
        (1 + var(--tone) * 0.05)
        +
        (var(--tone) * 0)
      )
    )
  );
  --background-0: hsl(
    295,
    5%,
    calc(50% + (20% + -10% * var(--tone)) * var(--tone))
  );
  /*
  BACKGROUND LIGHTNESS FORMULA
    BASE + (SHIFT + GAP * T) * T
      the inner [ * T] become [T^2] as an alternative for abs()
  */
  --c-base-1: hsl(
      calc(295 - 90 * var(--tone)),
  100%,
  calc((50% + 5% * var(--tone)) - (7.5% + 2.5% * var(--contrast)) * -1)
  );
  --foreground-1: hsl(
    295,
    5%,
    calc(
      (60% + 20% * var(--tone) * var(--contrast))
      *
      (
        (1 + var(--tone) * 0.05)
        +
        (var(--tone) * 0.25)
      )
    )
  );
  --background-1: hsl(
    295,
    5%,
    calc(50% + (20% + -5% * var(--tone)) * var(--tone))
  );
  /*
  BACKGROUND LIGHTNESS FORMULA
    BASE + (SHIFT + GAP * T) * T
      the inner [ * T] become [T^2] as an alternative for abs()
  */
  --c-base-2: hsl(
      calc(295 - 90 * var(--tone)),
  100%,
  calc((50% + 5% * var(--tone)) - (7.5% + 2.5% * var(--contrast)) * 0)
  );
  --foreground-2: hsl(
    295,
    5%,
    calc(
      (60% + 20% * var(--tone) * var(--contrast))
      *
      (
        (1 + var(--tone) * 0.05)
        +
        (var(--tone) * 0.5)
      )
    )
  );
  --background-2: hsl(
    295,
    5%,
    calc(50% + (20% + 0% * var(--tone)) * var(--tone))
  );
  /*
  BACKGROUND LIGHTNESS FORMULA
    BASE + (SHIFT + GAP * T) * T
      the inner [ * T] become [T^2] as an alternative for abs()
  */
  --c-base-3: hsl(
      calc(295 - 90 * var(--tone)),
  100%,
  calc((50% + 5% * var(--tone)) - (7.5% + 2.5% * var(--contrast)) * 1)
  );
  --foreground-3: hsl(
    295,
    5%,
    calc(
      (60% + 20% * var(--tone) * var(--contrast))
      *
      (
        (1 + var(--tone) * 0.05)
        +
        (var(--tone) * 0.75)
      )
    )
  );
  --background-3: hsl(
    295,
    5%,
    calc(50% + (20% + 5% * var(--tone)) * var(--tone))
  );
  /*
  BACKGROUND LIGHTNESS FORMULA
    BASE + (SHIFT + GAP * T) * T
      the inner [ * T] become [T^2] as an alternative for abs()
  */
  --c-base-4: hsl(
      calc(295 - 90 * var(--tone)),
  100%,
  calc((50% + 5% * var(--tone)) - (7.5% + 2.5% * var(--contrast)) * 2)
  );
  --foreground-4: hsl(
    295,
    5%,
    calc(
      (60% + 20% * var(--tone) * var(--contrast))
      *
      (
        (1 + var(--tone) * 0.05)
        +
        (var(--tone) * 1)
      )
    )
  );
  --background-4: hsl(
    295,
    5%,
    calc(50% + (20% + 10% * var(--tone)) * var(--tone))
  );
  /*
  BACKGROUND LIGHTNESS FORMULA
    BASE + (SHIFT + GAP * T) * T
      the inner [ * T] become [T^2] as an alternative for abs()
  */
}/*# sourceMappingURL=LAF.css.map */